* {
    box-sizing: border-box;
}

body {
    font-family: 'Amaranth', sans-serif;
    background: #c5d2ee;
    color: #222;
    margin: 0;
    padding: 0;
}

header
 {
    background: rgb(3, 58, 90);
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 600px;
    margin: .5rem auto;
    padding: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.features label {
    margin-top: 15px;
}

fieldset{
    border: none;
    margin: 1rem 0;
}

#reviewText, #username {
    margin-bottom: 1rem;
}

legend {
    font-weight: bold;
}

input[type="submit"] {
    background: rgb(3, 58, 90);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background: rgb(68, 82, 90);
}

.features label {
    display: block;
}

.required {
    color: rgb(206, 20, 20);
    font-weight: 100;
}

footer {
    background-color: rgb(3, 58, 90);
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
}

.note{
    font-size: small;
    color: rgb(206, 20, 20);
}

footer p {

    text-align: center;
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin: 0.3rem 0;

}