:root {
    --muted-olive-2: #97a97cff;
    --dusty-olive: rgb(45, 70, 6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amaranth', sans-serif;
}

header,
.heading {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--dusty-olive);
    color: white;
}

.headerDescription {
    background-color: var(--muted-olive-2);
    padding: 1rem 1rem 1rem 1.5rem;
    text-align: left;
    font-size: clamp(0.8rem, 2vw, 1rem)
}

.description {
    background-color: var(--muted-olive-2);
    padding: 1rem 1rem 1rem 1.5rem;
    text-align: left;
    font-size: clamp(0.8rem, 2vw, 1rem)
}

.flexContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wireframeContainer {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}

.wireframeContainer img {
    width: 100%;
    height: auto;
    margin: .5rem;
}

.siteInfo {
    grid-column: 3/3;
    margin-left: 1rem;
}

footer {
    background-color: var(--dusty-olive);
    color: white;
    text-align: center;
    padding: 0.7rem;
}

footer p {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

@media only screen and (min-width:520px) {
    .div {
        margin-top: 2rem;
    }

    .wireframeContainer img {
        width: 50vw;
        height: 50vw;
        margin: .5rem;
    }

    .wireframeContainer {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }

    .siteInfo {
        grid-column: 2/4;
        margin-left: 1rem;
    }

    .description {
        background-color: var(--muted-olive-2);
        padding: 1rem 1rem 2rem 1.5rem;
        text-align: left;
        font-size: clamp(0.8rem, 2vw, 1rem)
    }

}

@media only screen and (min-width:1035px) {
    .div {
        margin-top: 5rem;
    }

    .wireframeContainer img {
        width: 50vw;
        height: 50vw;
        margin: .5rem;
    }

    .wireframeContainer {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }

    .siteInfo {
        grid-column: 2/4;
        margin-left: 1rem;
    }

    .description {
        background-color: var(--muted-olive-2);
        padding: 1rem 1rem 10rem 1.5rem;
        text-align: left;
        font-size: clamp(0.8rem, 2vw, 1rem)
    }

}