root {
    --muted-olive-2: #97a97cff;
    --dusty-olive: rgb(45, 70, 6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amaranth', sans-serif;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--dusty-olive);
    flex-wrap: wrap;
}

nav {
    position: static;
    padding: 0 0 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0;
    transition: background-color 0.3s, border 0.3s;
    font-size: small;
}

#logo img {
    width: 30px;
    height: auto;
}



nav a:hover {
    background-color: var(--muted-olive-2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}