* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amaranth' sans-serif;
}

header h1 {
    background-color: rgb(8, 109, 8);
    color: white;
    padding: 2rem;

    text-align: center;
}

.hero source,
img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.weatherdata {
    
    line-height: 25px;
}

.weatherreport {
    border-top: 0.2px solid rgba(189, 186, 186, 0.2);
    line-height: 25px;
}

.weatherdatacaption {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: bold;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table th {
    text-align: right;
    padding: 0 .5rem 0 0;
}

.cloud {
    width: 40px;
    height: auto;
    padding: 0 0 1rem 0;
}

.weatherreportheading {
    text-align: center;
}

.weatherreportheading h2 {
    padding: 1.5rem 0;
    font-size: 2rem;
}

footer {
    text-align: center;
    
    background-color: rgb(8, 109, 8);
    padding: 1rem;
    color: white;
}