@media only screen and (min-width: 40rem) {
    nav {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        right: 1rem;
    }

    nav a {
        
        text-decoration: none;
        color: white;
        flex: 1 1 auto;
        text-align: center;
        padding: 1rem 2rem;
        font-weight: 200;
    }


    main h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        padding: 0 0 0 8rem;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-items: center;
        margin: 0 auto;
    }

    figure img {
        width: 10rem;
        height: auto;
    }

    #menu {
        display: none;
    }
}