@media screen and (min-width:500px) {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto', sans-serif;
    }


    main,
    footer {
        max-width: 640px;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: #e6f2ff;

    }

    section {
        padding: 1rem;
        background-color: #fff;
    }

    header {
        color: white;
        background-color: black;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}